/minio-api/.gradle/
/minio-api/build/
/minio-api/gradle/
/minio-api/gradlew
/minio-api/gradlew.bat
/kafka-listener/.gradle/
/kafka-listener/build/
/kafka-listener/gradle/
/kafka-listener/gradlew
/kafka-listener/gradlew.bat
/mailsender/gradle/
/mailsender/.gradle/
/mailsender/gradlew
/mailsender/gradlew.bat
