/minio-api/.gradle
/minio-api/build
/minio-api/gradle
/minio-api/gradlew
/minio-api/gradlew.bat
/kafka-listener/.gradle
/kafka-listener/build
/kafka-listener/gradle
/kafka-listener/gradlew
/kafka-listener/gradlew.bat
/mailsender/gradle
/mailsender/.gradle
/mailsender/gradlew
/mailsender/gradlew.bat
/mailsender/build
/oauth2/build
/oauth2/gradle
/oauth2/gradlew
/oauth2/gradlew.bat
/oauth2/.gradle
/gmail-api/gradle
/gmail-api/gradlew.bat
/gmail-api/gradlew
/gmail-api/build
/gmail-api/.gradle
